.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas:
        "map"
        "parksCollection";
}

.map {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
}

iframe{
    border: 7px solid #62A6E8;
    border-radius: 5%;
}

iframe {
    width: 100%;
}

.parksCollection {
    grid-area: parksCollection;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "row1 row1 row1"
        "row2 row2 row2";
}

.row1 {
    grid-area: row1;
    display: flex;
    flex-direction: row;
}

.row2 {
    grid-area: row2;
    display: flex;
    flex-direction: row;
}

.park {
    width: 60%;
    margin: 1%;
}

.park img {
    width: 60%;
    align-self: center;
    margin-left: 20%;
    margin-right: 25%;
    border-radius: 5%;
    padding: 5px;
}

.park:hover{
    animation: 0.5s click 1;
}

@keyframes click {
    25%, 75% {
        transform: scale(0.9);
    }

    50%{
        transform: scale(1.1);
    }
}

.park img:hover {
    background-color: #F24747;
    border-radius: 5%;
}

.desc {
    text-align: center;
}

@media screen and (max-width: 800px){

    .map{
        margin-left: 15%;
        margin-right: 15%;
    }

    .parksCollection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .row1 {
        grid-area: row1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .row2 {
        grid-area: row2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
}