@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas:
        "prices"
        "buy";
}

.prices {
    grid-area: prices;
    display: flex;
    justify-content: center;
}

table {
    width: 70%;
    margin: 2% 5%;
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    text-align: left;
    padding: 8px;
}

th,tr:nth-child(even) {
    background-color: #f2f2f2;
}

input {
    font-size: 20px;
}

select {
    font-size: 20px;
}

.buy {
    grid-area: buy;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    border: 3px solid #F24747;
    border-radius: 5%;
    padding: 2%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas:
        "tickets aside";
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #62A6E8;
    border-radius: 5%;
    cursor: pointer;

    font-size: 20px;
}

button:hover {
    background-color: #62A6E8;
}

.tickets {
    grid-area: tickets;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 40px;
}

.tickets h4 {
    text-align: center;
    margin-bottom: 20px;
}

.ticketType, .dateTime, .infoPay {
    margin-bottom: 20px;
}

.parkOption, .ticketOption, .dateTimeOption {
    display: flex;
    align-items: center;
}

.ticketOption label, .dateTimeOption label {
    flex: 1;
}

.parkOption select, .ticketOption input, .dateTimeOption select {
    flex: 2;
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.paymentOption {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.paymentOption input {
    margin-right: 8px;
}

.paymentDetails div {
    margin-top: 15px;
    margin-bottom: 10px;
}

.paymentDetails label {
    width: 200px;
    display: inline-block;
}

.paymentDetails input {
    width: calc(100% - 160px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.help {
    background-color: #62A6E8;
    border-radius: 5%;
    padding: 3% 4%;
    padding-bottom: 4%;
}

.help h4 {
    text-align: center;
}

.help form div {
    margin-bottom: 5%;
}

.help textarea {
    width: 100%;
    height: 70px;
    font-size: 15px;
}

.help button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F24747;
    color: #fff;
    font-weight: bold;
    border: 1px solid #F24747;
    border-radius: 5%;
    cursor: pointer;
    font-size: 20px;
}

.help button:hover {
    background-color: #d73232;
}

@media screen and (max-width: 950px) {
    .buy {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-template-areas:
            "tickets"
            "aside";
    }

    aside {
        margin-top: 5%;
    }
}